body {
  font-family: 'DM_Sans', Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 16px;
  margin: 0;
}


span {
  visibility: hidden;
}


ul > li {
  list-style: none;
}

ul a {
  list-style: none;
  text-decoration: none;
}