body {
  font-family: "Dm Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

h1,
h2 {
  font-family: "Dm Serif Display", serif;
  font-weight: normal;
}

span {
  visibility: hidden;
}

ul > li {
  list-style: none;
}

ul a {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 2%;
}

body > [type="checkbox"] {
  display: none;
}
