@mixin centered-max-width {
  max-width: 1140px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

@mixin horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
