.more-information {
  background-color: $site-background-color;
  &__date-location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-left: -24px;
    padding-bottom: 75px;
  }
  &__first-row {
    font-size: 16px;
    margin-bottom: 8px;
    color: $color-brand-grey;
  }
  &__second-row {
    font-size: 16px;
    font-weight: 700;
  }
  &__information-features {
    padding-left: 14px;
  }
  &__header {
    font-size: 40px;
    padding-bottom: 31px;
    line-height: 48px;
  }
  &__first-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 40px;
  }

  &__second-paragraph {
    font-size: 16px;
    color: $color-brand-grey;
    line-height: 24px;
  }
}

@media (min-width: 1000px) {
  .more-information {
    display: flex;
    flex-direction: row;
    row-gap: 157px;
    &__date-location {
      margin-left: 90px;
      padding-bottom: 500px;
      padding-top: 89px;
    }
    &__first-row {
      margin-right: 135px;
    }
    &__row {
      margin-left: 0;
    }
    &__information-features {
      padding-left: 100px;
      padding-right: 135px;
    }
    &__header {
      font-size: 52px;
      margin-top: 0;
      padding-top: 87px;
    }
    &__first-paragraph {
      font-size: 18px;
      margin-top: 0;
    }
    &__second-paragraph {
      color: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      line-height: 24px;
    }
  }
}
