.site-information {
  background-color: $site-background-color;
  padding-top: 82px;
  padding-left: 14px;
  padding-right: 14px;
  &__images {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    padding-top: 9px;
  }
  &__images::-webkit-scrollbar {
    display: none;
  }
  &__model-image {
    max-width: 100%;
    border-radius: 5px;
  }
  &__small-images {
    max-width: 126px;
    margin-right: 9px;
    opacity: 0.5;
    border-radius: 5px;
  }
  &__small-images:hover {
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .site-information {
    padding-left: 130px;
    padding-right: 135px;
    border-radius: 0%;
    &__images {
      padding-top: 9px;
    }
    &__small-images {
      padding-right: 2px;
    }
  }
}
