.site-information {
  background-color: $site-background-color;
  padding-top: 82px;
  padding-left: 14px;
  padding-right: 14px;
  &__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin: 12px;
    margin: 0;
  }
}

@media (min-width: 1120px) {
  .site-information {
    margin-left: 135px;
    margin-right: 135px;
    border-radius: 0%;
  }
}
