@font-face {
  font-family: "Dm Sans";
  src: local("dm_sans-Regular"), local("dm_sans Regular"), local("dm_sans-Bold"), local("dm_sans Bold"), url("../fonts/dm_sans_400.woff2"), url("../fonts/dm_sans_400.woff"), url("../fonts/dm_sans_700.woff2"), url("../fonts/dm_sans_700.woff"); }

@font-face {
  font-family: "Dm Serif Display";
  src: local("dm_serif_display-Regular"), local("dm_serif_display Regular"), local("dm_serif_display-Bold"), local("dm_serif_display Bold"), url("../fonts/dm_serif_display_400.woff2"), url("../fonts/dm_serif_display_400.woff"), url("../fonts/dm_serif_display_700.woff2"), url("../fonts/dm_serif_display_700.woff"); }

@font-face {
  font-family: "Dm Serif Display";
  src: local("dm_serif_display-Regular"), local("dm_serif_display Regular"), local("dm_serif_display-Bold"), local("dm_serif_display Bold"), url("../fonts/dm_serif_display_400.woff2"), url("../fonts/dm_serif_display_400.woff"), url("../fonts/dm_serif_display_700.woff2"), url("../fonts/dm_serif_display_700.woff"); }

@font-face {
  font-family: "Dm Serif Display";
  src: local("dm_serif_display-Regular"), local("dm_serif_display Regular"), local("dm_serif_display-Bold"), local("dm_serif_display Bold"), url("../fonts/dm_serif_display_400.woff2"), url("../fonts/dm_serif_display_400.woff"), url("../fonts/dm_serif_display_700.woff2"), url("../fonts/dm_serif_display_700.woff"); }

@font-face {
  font-family: "Dm Serif Display";
  src: local("dm_serif_display-Regular"), local("dm_serif_display Regular"), local("dm_serif_display-Bold"), local("dm_serif_display Bold"), url("../fonts/dm_serif_display_400.woff2"), url("../fonts/dm_serif_display_400.woff"), url("../fonts/dm_serif_display_700.woff2"), url("../fonts/dm_serif_display_700.woff"); }

.a11y {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; }

body {
  font-family: "Dm Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important; }

h1,
h2 {
  font-family: "Dm Serif Display", serif;
  font-weight: normal; }

span {
  visibility: hidden; }

ul > li {
  list-style: none; }

ul a {
  list-style: none;
  text-decoration: none; }

a {
  text-decoration: none;
  cursor: pointer; }

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-left: 1rem; }

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0; }

body > [type="checkbox"] {
  display: none; }

.masthead {
  background-color: #434CCC;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 14px; }
  .masthead__header {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0; }

.container {
  width: 100%;
  background-color: rgba(67, 76, 204, 0.05);
  margin: 0;
  margin-bottom: 0; }
  .container__headings {
    margin-left: 14px;
    margin-right: 15px; }
  .container__link {
    margin-top: 0;
    padding-top: 31px; }
    .container__link a {
      padding-top: 31px;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 38px;
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.5); }
  .container__subheading {
    font-size: 52px;
    padding-top: 61px;
    padding-bottom: 65px;
    margin-bottom: 0;
    margin-top: 0; }
  .container__paragraph {
    line-height: 32px;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0; }

@media (min-width: 1120px) {
  .masthead__header {
    margin-left: 135px;
    font-size: 40px; }
  .container__headings {
    margin-left: 135px; }
  .container__subheading {
    font-size: 72px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 535px; } }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

body > nav > h2 {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem; }

body > nav > h2 > label {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url(../webroot/images/menu.png);
  color: blue;
  background-size: 1rem;
  background-repeat: no-repeat; }

body > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

body > nav > ul a {
  text-transform: uppercase;
  text-decoration: none;
  color: #343638;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: opacity 0.3s;
  display: block;
  padding: 1rem 1rem 1rem 4rem; }

body > nav .active a {
  opacity: 1; }

body > nav .link {
  background-position: 1rem 50%; }

body > nav > ul a:hover {
  opacity: 1; }

.site-information {
  background-color: rgba(67, 76, 204, 0.05); }

.main-heading {
  padding-top: 82px;
  padding-left: 14px;
  padding-right: 14px; }

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 2%; }

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  margin: 12px;
  margin: 0; }

.blury {
  opacity: 0.5; }

@media (min-width: 1140px) {
  .main-heading {
    margin-left: 135px;
    margin-right: 135px;
    border-radius: 0%; }
  .small-images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 9px;
    margin-right: 45px; } }

.icon svg {
  max-width: 100%;
  max-height: 100%; }

.share {
  display: flex;
  margin-left: 13px;
  flex-wrap: wrap;
  align-items: flex-start; }

.share-link-icons ul {
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  padding-top: 45px;
  padding-bottom: 80px; }

.share-link-icons li a {
  width: 18px;
  height: 18px;
  display: block;
  margin: 0;
  margin-right: 10px; }

@media (min-width: 1114px) {
  .share {
    margin-left: 0; } }

.site-form {
  background-color: #FFDD78; }

.wrapper {
  margin-left: 14px;
  margin-right: 15px; }

.first-site-form-heading {
  padding-top: 63px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.3em;
  margin-top: 0; }

.second-site-form-heading {
  padding-top: 19px;
  padding-bottom: 44px;
  font-size: 30px; }

.form-input {
  display: flex;
  flex-direction: column; }

.input {
  padding-top: 12px; }

.input-form {
  padding-right: 115px; }

.site-form-paragraph {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding-bottom: 12px; }

.input-form {
  max-width: 346px;
  font-size: 16px;
  padding-left: 16px;
  padding-top: 13px;
  padding-bottom: 11px;
  border: none;
  border-radius: 4%; }

.site-form-button {
  padding-top: 16px;
  padding-bottom: 54px; }

.submit-button {
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 3%;
  color: white;
  background-color: #434CCC;
  padding-top: 13px;
  padding-left: 46px;
  padding-bottom: 11px;
  padding-right: 46px;
  cursor: pointer; }

@media (min-width: 1140px) {
  .second-site-form-heading {
    font-size: 52px;
    padding-top: 0;
    margin-top: 0; }
  .wrapper {
    display: flex;
    flex-direction: row; }
  .text-form {
    margin-left: 100px; }
  .form-input-email {
    padding-top: 135px;
    padding-left: 150px; }
  .form-input {
    flex-direction: row;
    row-gap: 10px; }
  .input {
    width: 340px;
    height: 76px;
    padding-top: 12px;
    margin-left: 0;
    margin-right: 54px; }
  .site-form-button {
    padding-top: 11px;
    margin-right: 130px; } }

.site-footer {
  margin-left: 14px; }

.share-link {
  margin-left: 14px; }

.site-heading-in-footer {
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 75px;
  padding-bottom: 23px; }

.site-paragraph-footer {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px; }

.about-the-site {
  display: flex;
  flex-direction: column;
  margin-left: 14px; }

.home a {
  font-size: 16px;
  padding-bottom: 23px;
  color: #000000;
  text-decoration: none; }

.link-site {
  padding-left: 0;
  color: rgba(0, 0, 0, 0.5); }

li {
  margin-bottom: 8px; }

.link-site:hover {
  color: #000000; }

.card {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  margin-bottom: 31px; }

.news {
  margin-left: 31px; }

.date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px; }

.description {
  color: #000000; }

.card-image {
  width: 30%; }

.first-news-row {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.5); }

.end-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 14px; }

.end-page li {
  list-style: none; }

.end-page a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px; }

.end-page a:hover {
  color: #000000; }

.first-news-row {
  cursor: pointer; }

.first-news-row:hover {
  color: #000000; }

@media (min-width: 1140px) {
  .site-footer {
    display: flex;
    flex-direction: row;
    border-block-end: 1px solid slategrey; }
  .share-link {
    margin-left: 135px; }
  .about-the-site {
    margin-right: 135px;
    padding-top: 79px; }
  .news {
    margin-top: 23px; }
  .container-card {
    margin-top: 73px; }
  .card-image {
    width: 30%;
    height: 30%; }
  .home {
    margin-bottom: 24px; }
  .end-page {
    display: flex;
    flex-direction: row;
    padding-bottom: 75px;
    justify-content: space-between; }
  .first-end-page {
    margin-left: 135px; }
  .second-end-page {
    margin-right: 135px; } }

.information {
  background-color: rgba(67, 76, 204, 0.05); }

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-left: -24px;
  padding-bottom: 75px; }

.first-row {
  font-size: 16px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.5); }

.features {
  margin-left: 14px;
  margin-left: 15px; }

.features-heading {
  font-size: 40px;
  padding-bottom: 31px;
  line-height: 48px; }

.features-first-paragraph {
  padding-bottom: 40px;
  line-height: 32px;
  font-size: 18px; }

.features-second-paragraph {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px; }

.second-row {
  font-size: 16px;
  font-weight: 700; }

@media (min-width: 1114px) {
  .information {
    display: flex;
    flex-direction: row;
    row-gap: 157px; }
  .more-information {
    margin-left: -48px; }
  .features {
    margin-left: 232px;
    margin-right: 135px; }
  .features-heading {
    font-size: 52px;
    margin-top: 0; }
  .features-first-paragraph {
    font-size: 18px;
    margin-top: 0; }
  .table {
    margin-left: 135px; }
  .row {
    margin-left: 0; }
  .first-row {
    margin-right: 135px; } }

.link_menu {
  background-image: url(../images/menu.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 6%;
  left: 90%; }

body > nav > ul a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  display: block;
  padding: 1rem 1rem 1rem 4rem; }

body > nav {
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 20px;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%); }

body > [type="checkbox"]:checked ~ nav {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

body > nav > h2 {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem; }

body > nav > h2 > label {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url(../webroot/images/menu.png);
  background-size: 1rem;
  background-repeat: no-repeat; }

body > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

body > nav > ul a {
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  display: block;
  padding: 1rem 1rem 1rem 4rem; }

body > nav .link {
  background-position: 1rem 50%; }

body > nav > ul a:hover {
  opacity: 1; }

@media (min-width: 1140px) {
  body > nav {
    padding: 0;
    background-color: transparent;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  body > nav > ul {
    flex-direction: row;
    padding-right: 135px; }
  body > nav > ul .link {
    padding: 1.25rem;
    background-image: none;
    line-height: 1.25rem; }
  .link_menu {
    display: none; }
  body > nav > ul a {
    text-transform: lowercase;
    color: #FFFFFF; } }
